extends layout

block head

  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  header.header
    div.text-vertical-center
      h1 BE 
        span.highlighted F
        |OCUSED  
      h3 공부와 업무에 집중하는 시간을 확인하고 효율을 높여보세요
      br
      a(href='#about').btn.btn-orange.btn-lg GET MORE INFO
      br
      br
      a(href='#signup').sign 아직 계정이 없으신가요?
      br
      a(href='#signin').sign 이미 계정을 갖고 계신가요?


  section#about.about
    div.container
      div.row
        div.col-lg-12.text-center
          h2 Help you getting focus on studying!!!
          p.lead This theme features some wonderful photography courtesy of Death to the Stock Photo.

  section#service.bg-primary
    div.container
      div.row.text-center
        div.col-lg-10.col-lg-offset-1
          h2 Our service
          hr.small
          div.row
            div.col-md-3.col-sm-6
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-cloud.fa-stack-1x.text-primary
              div.service-item
                h4 My service
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            
            div.col-md-3.col-sm-6
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-cloud.fa-stack-1x.text-primary
              div.service-item
                h4 My service
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                
            div.col-md-3.col-sm-6
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-cloud.fa-stack-1x.text-primary
              div.service-item
                h4 My service
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            div.col-md-3.col-sm-6
              span.fa-stack.fa-4x
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-cloud.fa-stack-1x.text-primary
              div.service-item
                h4 My service
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  aside.callout
    div.text-vertical-center
      h1 RAISE UP YOUR CONCENTRATION