extends ../layout
block head
    link(rel='stylesheet' , href='/stylesheets/users/sign.css')
block body
    section.sign
        div.container.text-vertical-center
            form.form-signin
                h2.text-center BE 
                    span.highlighted-text F
                    |OCUSED
                label(for="inputEmail").sr-only
                input(type='email' , placeholder='Enter Your Email')#inputEmail.form-control.input-lg                 
                label(for="inputPw").sr-only
                input(type='password' , placeholder='Enter Your Password')#inputPw.form-control.input-lg
                div.chkbox
                    label.pull-left
                        input(type='checkbox' value='remember-me')
                        | Remember me
                button(type='submit').btn.btn-lg.btn-warning.btn-block SIGN IN 
                
                br

                div.row
                    span.col-md-1.col-sm-1.col-xs-1
                    a(href='#facebook').col-md-3.col-sm-3.col-xs-3.social-items.i-fb
                        i.fa.fa-facebook
                    a(href='#twitter').col-md-3.col-sm-3.col-xs-3.social-items.i-tw
                        i.fa.fa-twitter
                    a(href='#google').col-md-3.col-sm-3.col-xs-3.social-items
                        i.fa.fa-google

