extends ../layout
block head
    link(rel='stylesheet' , href='/stylesheets/users/sign.css')
block body
    section.sign
        div.container.text-vertical-center
            form.form-signin
                h2.text-center BE 
                    span.highlighted-text F
                    |OCUSED
                label(for="inputEmail").sr-only
                input(type='email' , placeholder='Enter Your email')#inputEmail.form-control                  
                label(for="inputPw").sr-only
                input(type='password' , placeholder='Enter Your email')#inputPw.form-control        
                div.chkbox
                    label.pull-left
                        input(type='checkbox' value='remember-me')
                        | Remember me
                button(type='submit').btn.btn-lg.btn-warning.btn-block SIGN IN 