extends ../layout
block head
    link(rel='stylesheet' , href='/stylesheets/users/sign.css')
block body
    section.sign
        div.container.text-vertical-center
            form.form-signin
                span.pull-right(style='font-size : 20px;')
                    a(href='/').a-btn
                        i.fa.fa-times
                h2.text-center BE 
                    span.highlighted-text F
                    |OCUSED
                label(for="inputEmail").sr-only
                input(type='email' , placeholder='Enter Email')#inputEmail.form-control.input-lg                 
                label(for="inputPwValid1").sr-only
                input(type='password' , placeholder='Enter Password')#inputPwValid1.form-control.input-lg
                label(for="inputPwValid2").sr-only
                input(type='password' , placeholder='Enter Password for valid')#inputPwValid2.form-control.input-lg

                br
                
                button(type='submit').btn.btn-lg.btn-warning.btn-block SIGN UP 
                
                br

                div.row
                    span.col-md-1.col-sm-1.col-xs-1
                    a(href='#facebook').col-md-3.col-sm-3.col-xs-3.social-items.i-fb
                        i.fa.fa-facebook
                    a(href='#twitter').col-md-3.col-sm-3.col-xs-3.social-items.i-tw
                        i.fa.fa-twitter
                    a(href='#google').col-md-3.col-sm-3.col-xs-3.social-items
                        i.fa.fa-google

                br
                a(href='/users/signin').a-btn
                    | 이미 계정을 갖고 계신가요?
